<div content-for="title">
    <span ng-click="functionForRightButton()">{{ stringForTitle }}</span>
</div>

<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <a ng-click="functionForRightButton()"><i class="fa fa-database"></i> {{ stringForRightButton }}</a>
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="btn-group justified nav-tabs">
            <a class="btn btn-default"
               target="localStorage_einzelwerte"
               toggle="on"
               ng-click="enableTab_einzelwerte()"
               active-class="active">Einzelwerte
            </a>

            <a class="btn btn-default"
               target="localStorage_strDaten"
               toggle="on"
               ng-click="enableTab_strDaten()"
               active-class="active">str Daten
            </a>

            <a class="btn btn-default"
               target="localStorage_mediendaten"
               toggle="on"
               ng-click="enableTab_mediendaten()"
               active-class="active">Mediendaten
            </a>

        </div>

        <div class="tab-content">

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 1}"
                 default="active"
                 id="localStorage_einzelwerte"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_localStorage_einzelwerte.html"'></div>

            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 2}"
                 id="localStorage_strDaten"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_localStorage_strDaten.html"'></div>

            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 3}"
                 id="localStorage_mediendaten"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_localStorage_mediendaten.html"'></div>
            </div>

        </div>
    </div>
</div>

<!--<div class="navbar navbar-app navbar-absolute-bottom">-->
    <!--<div class="btn-group justified">-->
        <!--<a ng-click="functionForRightButton()" class="btn btn-navbar"><i class="fa fa-database fa-navbar"></i> show-->
            <!--stored items</a>-->
    <!--</div>-->
<!--</div>-->





        <!--TODO: Das Overlay in eine seperate Datei auslagern-->
<div overlay="myOverlay">
    <div class="scrollable">
        <div class="scrollable-content">

            <h4 class="overlay-title">LocalStorage - saved keys (click to see the value)</h4>

            <p toggle="off" bubble target="myOverlay">
                <span class="btn btn-primary">close</span>
            </p>

            <!--<input type="search" ng-model="searchText" class="form-control" placeholder="Search..">-->

            <div class="list-group">
                <div ng-repeat="(key,value) in localStorage">

                    <li class="list-group-item">
                        <a ng-click="deleteItem(key)"><i class="fa fa-trash-o pull-right"></i></a>
                        <b ng-click="visible = !visible">{{ key }}</b><br>

                        <div ng-show="visible">{{ value }}</div>
                    </li>

                </div>
            </div>

            <p toggle="off" bubble target="myOverlay">
                <span class="btn btn-primary">close</span>
            </p>
        </div>
    </div>

    LocalStorage has {{ localStorage.length }} items.<br>
    LocalStorage has {{ $parent.localStorage.length }} items.<br>

</div>
