<div ng-controller="DE_LocalStorageStrDatenCtrl">

    <div class="panel" bs-panel>

        <div ng-str-daten-dataset-loader></div>

        <div class="panel-body">

            <a class="btn btn-primary" ng-click="saveTable1ToLocalStorage()">saveTable1ToLocalStorage</a>
            <a class="btn btn-danger" ng-click="deleteTable1FromLocalStorage()"><i class="fa fa-trash-o"></i> deleteTable1FromLocalStorage</a>
            <br>
            <br>
            <a class="btn btn-primary" ng-click="saveTable2ToLocalStorage()">saveTable2ToLocalStorage</a>
            <a class="btn btn-danger" ng-click="deleteTable2FromLocalStorage()"><i class="fa fa-trash-o"></i> deleteTable2FromLocalStorage</a>

        </div>

        <h2 class="panel-title">
            Table (data from LocalStorage - {{ tableFromLocalStorage.length | number }} addresses)
        </h2>

        <div class="panel-body">
            <a class="btn btn-default" ng-click="loadTable1FromLocalStorage()">update1</a><br>
            <a class="btn btn-default" ng-click="loadTable2FromLocalStorage()">update2</a><br>

            <table style="width:100%">
                <thead>
                <tr>
                    <td>
                        <b>First Name</b>
                    </td>
                    <td>
                        <b>Last Name</b>
                    </td>
                    <td>
                        <b>...</b>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in tableFromLocalStorage">
                    <td>
                        {{ row[0] }}
                    </td>
                    <td>
                        {{ row[1] }}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div overlay="datasetSelectionOverlay">
        <div class="scrollable">
            <div class="scrollable-content">

                <h4 class="overlay-title">Select a dataset</h4>

                <p toggle="off" bubble target="datasetSelectionOverlay">
                    <span class="btn btn-primary">close</span>
                </p>

                <div class="list-group">
                    <div ng-repeat="dataset in datasets">

                        <li class="list-group-item">
                            <div ng-show="dataset == $parent.selectedDataset">(selected)</div>
                            <!--<a ng-click="$parent.selectedDataset = dataset">{{ dataset }}</a>-->
                            <a ng-click="selectAndLoadDataset(dataset)">{{ dataset }}</a>
                        </li>

                    </div>
                </div>

                <p toggle="off" bubble target="datasetSelectionOverlay">
                    <span class="btn btn-primary">close</span>
                </p>
            </div>
        </div>

    </div>

</div>