<div content-for="title">
    <span ng-click="functionForRightButton()">{{ stringForTitle }}</span>
</div>

<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <a ng-click="functionForRightButton()"><i class="fa fa-database"></i> {{ stringForRightButton }}</a>
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="btn-group justified nav-tabs">
            <a class="btn btn-default"
               target="PG_FileAPI_einzelwerte"
               toggle="on"
               ng-click="enableTab_einzelwerte()"
               active-class="active">Einzelwerte
            </a>

            <a class="btn btn-default"
               target="PG_FileAPI_strDaten"
               toggle="on"
               ng-click="enableTab_strDaten()"
               active-class="active">str Daten
            </a>

            <a class="btn btn-default"
               target="PG_FileAPI_mediendaten"
               toggle="on"
               ng-click="enableTab_mediendaten()"
               active-class="active">Mediendaten
            </a>

        </div>

        <div class="tab-content">

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 1}"
                 default="active"
                 id="PG_FileAPI_einzelwerte"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_PG_fileAPI_einzelwerte.html"'></div>

            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 2}"
                 id="PG_FileAPI_strDaten"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_PG_fileAPI_strDaten.html"'></div>

            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 3}"
                 id="PG_FileAPI_mediendaten"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_PG_fileAPI_mediendaten.html"'></div>
            </div>

        </div>
    </div>
</div>

<div ng-include src="'DE_PG_fileAPI_overlay.html'"></div>
