<div content-for="title">
    <button ng-click="openWebSQLOverlay()">test</button><span>{{ stringForTitle }}</span>
</div>

<!--<div content-for="navbarAction">-->
    <!--<div class="btn btn-navbar">-->
        <!--<i class="fa fa-plus"></i>{{ stringForRightButton }}-->
    <!--</div>-->
<!--</div>-->
<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <a ng-click="functionForRightButton()"><i class="fa fa-database"></i> {{ stringForRightButton }}</a>
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="btn-group justified nav-tabs">
            <a class="btn btn-default"
               target="webSql_einzelwerte"
               toggle="on"
               ng-click="enableTab_einzelwerte()"
               active-class="active">Einzelwerte
            </a>

            <a class="btn btn-default"
               target="webSql_strDaten"
               toggle="on"
               ng-click="enableTab_strDaten()"
               active-class="active">str Daten
            </a>

            <a class="btn btn-default"
               target="webSql_mediendaten"
               toggle="on"
               ng-click="enableTab_mediendaten()"
               active-class="active">Mediendaten
            </a>
        </div>

        <div class="tab-content">

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 1}"
                 default="active"
                 id="webSql_einzelwerte"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_webSql_einzelwerte.html"'></div>
            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 2}"
                 id="webSql_strDaten"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_webSql_strDaten.html"'></div>
            </div>

            <div class="tab-pane"
                 toggleable
                 ng-class="{active: tab == 3}"
                 id="webSql_mediendaten"
                 exclusion-group="myTabs">

                <div ng-include src='"DE_webSql_mediendaten.html"'></div>
            </div>

        </div>
    </div>
</div>


<!--TODO: Das Overlay in eine seperate Datei auslagern-->
<div overlay="myOverlay">
    <div class="scrollable">
        <div class="scrollable-content">

            Databases<br>
            <!--<div ng-repeat="database in databases">-->
                <!--{{ database }}<br>-->
                <button class="btn btn-default" ng-click="getTablesList()">getTablesList</button>
                <div ng-repeat="row in tablesInDatabase track by $index">
                    {{ row.tbl_name }}
                </div>
            <!--</div>-->

        </div>
    </div>

</div>


<div ng-include src="'DE_webSql_overlay.html'"></div>