<div overlay="myOverlay">
    <div class="scrollable">
        <div class="scrollable-content">

            <h4 class="overlay-title">WebSQL</h4>

            <p toggle="off" bubble target="myOverlay">
                <span class="btn btn-primary">close</span>
            </p>

            <button class="btn btn-primary" ng-click="showContentOfTableStrDaten()">showContentOfTableStrDaten</button>

            <table style="width:100%">
                <thead>
                <tr>
                    <td>
                        <b>id</b>
                    </td>
                    <td>
                        <b>First Name</b>
                    </td>
                    <td>
                        <b>Last Name</b>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in dataForOverlay">
                    <td>
                        {{ row.id }}
                    </td>
                    <td>
                        {{ row.firstName }}
                    </td>
                    <td>
                        {{ row.lastName }}
                    </td>
                </tr>
                </tbody>
            </table>

            <!--<input type="search" ng-model="searchText" class="form-control" placeholder="Search..">-->

            <button class="btn btn-default" ng-click="listObjectStores()">listObjectStores</button>
            <div class="list-group">
                <div ng-repeat="objectStore in objectStores">
                    <li class="list-group-item">
                        {{ objectStore }}
                    </li>
                </div>
            </div>

            <p toggle="off" bubble target="myOverlay">
                <span class="btn btn-primary">close</span>
            </p>
        </div>
    </div>

    <!--LocalStorage has {{ localStorage.length }} items.<br>-->
    <!--LocalStorage has {{ $parent.localStorage.length }} items.<br>-->

</div>