<div ng-controller="DE_WebSqlStrDatenCtrl">

    <div class="panel" bs-panel>


            <div ng-str-daten-dataset-loader></div>





        <h2 class="panel-title">
            Table (data from WebSQL - {{ tableFromWebSQL.length | number }} addresses)
        </h2>

        <div class="panel-body">
            <a class="btn btn-default" ng-click="loadTable1FromWebSQL()">update</a><br>


            <table style="width:100%">
                <thead>
                <tr>
                    <td>
                        <b>First Name</b>
                    </td>
                    <td>
                        <b>Last Name</b>
                    </td>
                    <td>
                        <b>...</b>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in tableFromWebSQL">
                    <td>
                        {{ row[0] }}
                    </td>
                    <td>
                        {{ row[1] }}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>