<div ng-controller="PE_LocalStorage_Test3Ctrl">

    <div class="panel">
        <div class="panel-heading">
            <h2>Performance-Test 3</h2>
            {{ testDecription }}
        </div>

        <h2 class="panel-title">
            Start test
        </h2>

        <div class="panel-body">

            <button class="btn" ng-class="{ 'btn-success' : isPrepared, 'btn-danger' : !isPrepared  }"></button>
            <button ng-click="prepare()" class="btn btn-primary">prepare</button>
            <button ng-class="{disabled: !isPrepared}" ng-click="startPerformanceTest()" class="btn btn-primary">start Performance-Test</button>

        </div>

        <h2 class="panel-title">
            Results
        </h2>

        <div class="panel-body">

            {{ stringWithResults }}<br>

            <div class="list-group">
                <div ng-repeat="result in results track by $index">

                    <li ng-class="{'list-group-item-success': result!=-1}" class="list-group-item">
                        {{ result }}
                    </li>

                </div>
            </div>

        </div>
    </div>
</div>
