<div content-for="title">
    <span>{{ stringForTitle }}</span>
</div>

<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <i class="fa fa-plus"></i>{{ stringForRightButton }}
    </div>
</div>
<div class="scrollable">
    <div class="scrollable-content">

        <div class="panel">
            <h2 class="panel-title">
                Setup Performance-Test
            </h2>

            <div class="panel-body">

                <button ng-click="startPerformanceTest()" class="btn btn-primary">start Performance-Test</button>

            </div>

            <h2 class="panel-title">
                Results
            </h2>

            <div class="panel-body">

                {{ stringWithResults }}<br>

                <br>

                <div class="list-group">
                    <div ng-repeat="result in results track by $index">

                        <li ng-class="{'list-group-item-success': result!=-1}" class="list-group-item">
                            {{ result }}
                        </li>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
