<div ng-controller="PE_WebSql_TestR1Ctrl">

    <div class="panel">

        <div class="panel-heading">
            <h2>Performance-Test R1 (placeholder)</h2>
            {{ mainTestDecription }}<br>

            <div ng-show="selectedTestVariant=='TestR1a' || selectedTestVariant=='' ">
                <button ng-hide="selectedTestVariant!=''"
                        class="btn btn-primary"
                        ng-click="selectTestVariant('TestR1a')">
                    select
                </button>
                <b>{{ testName1}}:</b> {{ testDecription1 }}
            </div>
            <br>

            <div ng-show="selectedTestVariant=='TestR1b' || selectedTestVariant=='' ">
                <button ng-hide="selectedTestVariant!=''"
                        class="btn btn-primary"
                        ng-click="selectTestVariant('TestR1b')">
                    select
                </button>
                <b>{{ testName2}}:</b> {{ testDecription2 }}
            </div>

            <button class="btn btn-sm btn-default" ng-show="selectedTestVariant!=''" ng-click="reset()">reset this
                page
            </button>
        </div>

        <div ng-show="selectedTestVariant!=''">

            <h2 class="panel-title">
                database connection
            </h2>

            <div class="panel-body">
                <button class="btn"
                        ng-class="{ 'btn-success' : databaseOpened, 'btn-danger' : !databaseOpened  }"></button>
                <button class="btn btn-primary" ng-click="initWebSQL()">init/open database</button>
            </div>

            <h2 class="panel-title">
                Start test
            </h2>

            <div class="panel-body">

                <button class="btn" ng-class="{ 'btn-success' : isPrepared, 'btn-danger' : !isPrepared  }"></button>
                <button class="btn btn-primary" ng-click="prepare()">prepare</button>
                <button ng-class="{disabled: (!isPrepared || !databaseOpened)}" ng-click="startPerformanceTest()"
                        class="btn btn-primary">startPerformanceTest
                </button>

            </div>

            <h2 class="panel-title">
                Results
            </h2>

            <div class="panel-body">

                {{ stringWithResults }}<br>

                <br>

                <div class="list-group">
                    <div ng-repeat="result in results track by $index">

                        <li ng-class="{'list-group-item-success': result!=-1}" class="list-group-item">
                            {{ result }}
                        </li>

                    </div>
                    <li ng-show="testInProgress==true" class="list-group-item list-group-item-warning">
                        Test in progress
                    </li>
                </div>

            </div>
        </div>

    </div>
</div>