<div content-for="title">
    <span>PL File API</span>
</div>

<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <i class="fa fa-plus"></i>LS
    </div>
</div>


<div class="panel">
    <div class="panel-heading">
        <h2>Plattform-Test Limit</h2>
        {{ mainTestDecription }}<br>

        <div ng-show="selectedTestVariant=='TestLimit1' || selectedTestVariant=='' ">
            <button ng-hide="selectedTestVariant!=''"
                    class="btn btn-primary"
                    ng-click="selectTestVariant('TestLimit1')">
                select
            </button>
            <b>{{ testName1}}:</b> {{ testDecription1 }}
        </div>
        <br>

        <div ng-show="selectedTestVariant=='TestLimitB' || selectedTestVariant=='' ">
            <button ng-hide="selectedTestVariant!=''"
                    class="btn btn-primary"
                    ng-click="selectTestVariant('TestLimitB')">
                select
            </button>
            <b>{{ testName2}}:</b> {{ testDecription2 }}
        </div>
        <br>

        <div ng-show="selectedTestVariant=='TestLimitC' || selectedTestVariant=='' ">
            <button ng-hide="selectedTestVariant!=''"
                    class="btn btn-primary"
                    ng-click="selectTestVariant('TestLimitC')">
                select
            </button>
            <b>{{ testName3}}:</b> {{ testDecription3 }}
        </div>
        <br>

        <div ng-show="selectedTestVariant=='TestLimitD' || selectedTestVariant=='' ">
            <button ng-hide="selectedTestVariant!=''"
                    class="btn btn-primary"
                    ng-click="selectTestVariant('TestLimitD')">
                select
            </button>
            <b>{{ testName4}}:</b> {{ testDecription4 }}
        </div>

        <button class="btn btn-sm btn-default" ng-show="selectedTestVariant!=''" ng-click="reset()">reset this page
        </button>

    </div>

    <div ng-show="selectedTestVariant!=''"></div>

    <h2 class="panel-title">
        Start test
    </h2>

    <div class="panel-body">

        <!--<button ng-class="{disabled: !isPrepared }" ng-click="startPerformanceTest()" class="btn btn-primary">-->
        <!--start {{ selectedTestVariant }}-->
        <!--</button>-->
        <div ng-prepare-section-for-tests></div>
        <button class="btn btn-primary" ng-click="startPlatformTest()">start {{ selectedTestVariant }}
        </button>
        <br>
        currentIteration {{ currentIteration | number }}

    </div>

    <h2 class="panel-title">
        Results
    </h2>

    <div class="panel-body">

        <div class="list-group">
            <div ng-repeat="result in results track by $index">

                <li ng-class="{'list-group-item-success': result!=-1}" class="list-group-item">
                    {{ result }}
                </li>

            </div>
        </div>

    </div>
</div>
</div>





