<div content-for="title">
    <span>PL LocalStorage</span>
</div>

<div content-for="navbarAction">
    <div class="btn btn-navbar">
        <i class="fa fa-plus"></i>SS
    </div>
</div>

<!--<div class="list-group">-->

<!--<div class="list-group">-->
<!--<li class="list-group-item">-->
<!--PL_LocalStorage-->
<!--</li>-->
<!--</div>-->
<!--</div>-->


<div class="panel">
    <div class="panel-heading">

    </div>
    <div class="panel-body">


        <a class="btn btn-primary" ng-click="findLimit1()">
            findLimit1
        </a>
        <a class="btn btn-primary" ng-click="findLimit2()">
            findLimit2
        </a>
        <a class="btn btn-primary" ng-click="findLimit3()">
            findLimit3
        </a>
        <a class="btn btn-primary" ng-click="findLimit4()">
            findLimit4
        </a>
    </div>
</div>




